<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>基坑平台入口</title>
    <link href="common/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="/smosplat/common/js/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/smosplat/common/js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/smosplat/common/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script language="JavaScript" src="common/js/new.min.js"></script>
    <script type="text/javascript" src="common/js/util.js"></script>
    <script language="javascript">
    $(function() {
        $('.loginbox0').css({
            'position': 'absolute',
            'left': ($(window).width() - 810) / 2
        });
        $(window).resize(function() {
            $('.loginbox0').css({
                'position': 'absolute',
                'left': ($(window).width() - 810) / 2
            });
        })
    });
    </script>
</head>

<body>
    <div id="backg" style="position:absolute;overflow:hidden; width:100%; height:100%; z-index:-1">
        <img src="common/image/背景2.jpg" height="100%" width="100%" />
    </div>
    <div>
        <div class="logintop">
            <span>欢迎进入基坑监测管理平台</span>
            <ul>
                <li><a href="#" onclick="logOut();" >退出</a></li>
            </ul>
        </div>
        <div class="loginbody1">
            <div class="systemlogo">
                <h1>
                <i class="icon-leaf" style="color: #69aa46;"></i>
                <span style="color: #fff">深圳市建设工程质量检测中心基坑监测管理平台</span>
                </h1>
                <h4 style="color: #fff">Shenzhen city construction engineering quality test center of foundation pit monitoring management platform</h4>
            </div>
            <div class="loginbox0">
                <ul class="loginlist">
                    <li>  
                        <a href="/smosplat/organIndex"><img src="common/image/l01.png" alt="组织机构" />
                            <p>组织机构</p>
                        </a>
                    </li>
                    <li>
                        <a href="/smosplat/projectIndex"><img src="common/image/l02.png" alt="工程管理" />
                            <p>工程管理</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="loginbm">版权所有 &nbsp;&nbsp;&nbsp; <strong>深圳市建设工程质量检测中心</strong> &nbsp;&nbsp;&nbsp;</div>
    </div>
    <script type="text/javascript">
    function onFunctionClick(object, FunctionUrl) {
        swal({title:"该功能尚在开发中！",type:"warning"});
    }
    function logOut(){
    	$.post("logout", function(data, status) {
            var dataObj = JSON.parse(data);
            if (dataObj.result == 0) {
                //跳转到登陆页面
            	window.location.href = "/smosplat/";
            } else {
            	swal({title:"失败！",text:dataObj.msg,type:"error"});
            }
        });
    }
    </script>
</body>

</html>
